/* Put your CSS here */
.ember-application {
    margin: 0px;
	height: 100%;
}



/* FONTS ------------------------------------------------------------------------------------------------ */

@font-face
{
  font-family: HELVETICA;
  src: url(../fonts/Helvetica-Regular.ttf);
}


@font-face
{
  font-family: EXOL;
  src: url(../fonts/Exo-ExtraLight.otf);
}

@font-face
{
  font-family: EXO;
  src: url(../fonts/Exo-Regular.otf);
}

@font-face
{
  font-family: EXOB;
  src: url(../fonts/Exo-Bold.otf);
}

/* ------------------------------------------------------------------------------------------------------ */

html,
body {
	margin:0;
	padding:0;
	height:100%;
	min-width: 800px;
}

body > .ember-view {
    height: 100%;
}

.wrapper {
	min-height:100%;
	position:relative;
}

.midpage {
	padding-bottom:151px; /* Height of the footer element */
	overflow:auto;
}

.footer {
	background-color: rgba(42, 45, 51, 1);
	width:100%;
	height:150px;
	position:absolute;
	bottom:0;
	left:0;
	
	text-align: center;
}

/* HEADER ----------------------------------------------------------------------------------------------- */

.header {
	height: 112px;
	border-bottom: 1px solid #E0E0E0 ;
	background-color: white;
}

.logo {
	float: left;
	width: 284px;
	height: 112px;
	background-image: url(../images/Logo/logo.png);
}

.topmid {
	float: left;
	height: 112px;
	background-color: white;
}

.topright{
float:right;
width: 284px;
height: 112px;
}

.topright .loginbar{
width: 230px;
height: 28px;
font-family: EXO;
font-size:15px;
margin-top:35px;
color:rgb(24,152,231);
text-align:right;
}

.linkto-none-login{

	text-decoration: none;
	color:#1898E7;
 }
 
  .linkto-none-login:hover{
	color:#116ca5;
 }

.topright .searchbar{
width: 284px;
height: 29px;
margin-top:19px;
font-family: EXO;
font-size:11px;
overflow:hidden;
}

.topright .searchbar .procurar{
float:left;
padding:6px 12px;
background:white;
border: 1px solid rgb(24,152,231);
width:255px;
height:29px;
font-style: italic;
font-family: EXO;

box-sizing:border-box;
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;
}

.topright .searchbar .procurarButton{
float: left;
font-family: EXO;
padding:4px 12px;
border: 0;
width:29px;
height:29px;
background-image: url(../images/Misc/searchBttn.png);
background-repeat: no-repeat;
background-size:contain;
}

.topright .searchbar .procurarButton:hover{
opacity:0.8;
cursor:pointer;
}

.clear
 {
	clear: both;
 }
 
/* ------------------------------------------------------------------------------------------------------ */

/* CONTENT -------------------------------------------------------------------------------------------- */


.content
{
	overflow: hidden;
	margin-left: 10px;
	margin-top: 10px;
}

.years
{
	height: 85px;
	background-color: rgba(42, 45, 51, 1);
	border-bottom: 1px solid rgb(211,219,225);
	border-right: 1px solid rgb(211,219,225);
}

.courses
{
	height: 85px;
	background-color: rgba(42, 45, 51, 1);
	/*border-bottom: 1px solid rgb(211,219,225);*/
	border-right: 1px solid rgb(211,219,225);
	text-align: center;
}

.courses .mieic_icon
{
	float: left;
	height: 85px;
	width: 56px;
	background-image: url(../images/Courses/mieic.png);
	display: inline-block;
}

.courses .mieig_icon
{
	float: left;
	height: 85px;
	width: 56px;
	background-image: url(../images/Courses/mieig.png);
	display: inline-block;
}

.courses .miea_icon
{
	float: left;
	height: 85px;
	width: 56px;
	background-image: url(../images/Courses/miea.png);
	display: inline-block;
}

.courses .miec_icon
{
	float: left;
	height: 85px;
	width: 56px;
	background-image: url(../images/Courses/miec.png);
	display: inline-block;
}

.courses .mib_icon
{
	float: left;
	height: 85px;
	width: 56px;
	background-image: url(../images/Courses/mib.png);
	display: inline-block;
}

.courses .miem_icon
{
	float: left;
	height: 85px;
	width: 56px;
	background-image: url(../images/Courses/miem.png);
	display: inline-block;
}

.courses .miemm_icon
{
	float: left;
	height: 85px;
	width: 56px;
	background-image: url(../images/Courses/miemm.png);
	display: inline-block;
}

.courses .mieq_icon
{
	float: left;
	height: 85px;
	width: 56px;
	background-image: url(../images/Courses/mieq.png);
	display: inline-block;
}

.courses .mieec_icon
{
	float: left;
	height: 85px;
	width: 56px;
	background-image: url(../images/Courses/mieec.png);
	display: inline-block;
}

.courses .mieic_icon:hover,.mieec_icon:hover,.mib_icon:hover,.miea_icon:hover,.mieig_icon:hover,.miem_icon:hover,.miemm_icon:hover,.mieq_icon:hover,.miec_icon:hover
{
-moz-box-shadow: inset rgb(113,200,236) 0 -4px 0 0;
-webkit-box-shadow: inset rgb(113,200,236) 0 -4px 0 0;
box-shadow: inset rgb(113,200,236) 0 -4px 0 0;
cursor: pointer;
}

.courses .year1
{
border-left: 1px solid #666;
float: left;
height: 76px;
width: 56px;
margin-top: 5px;
font-family: EXOB;
text-align: center;
color: white;
}

.courses .year2, .courses .year3, .courses .year4, .courses .year5
{
float: left;
height: 76px;
width: 56px;
margin-top: 5px;
font-family: EXOB;
text-align: center;
color: white;
}

.courses .year1:hover, .courses .year2:hover, .courses .year3:hover, .courses .year4:hover, .courses .year5:hover
{
border-bottom: 4px solid rgb(113,200,236);
cursor: pointer;
}

/*-----------PEDRO------------*/

.showdisciplinascurso
{
	display: inline-block;
	overflow: hidden;
	font-family: EXO;
	font-size:11px;
	padding-top:25px;
	color: white;
	width: 55px;
	height: 42px;
	text-align:center;
}

.showdisciplinascurso:hover
{
	cursor: pointer;
	color: rgb(113,200,236);
}

.uc
{
	background-color: rgb(53,56,62);
	border-bottom: 1px solid rgb(211,219,225);
	border-right: 1px solid rgb(211,219,225);
}

.uc .firstSemesterLogo
{
	float:left;
	font-family: EXO;
	text-align: center;
	color: white;
	width: 56px;
	height: 57px;
	font-size:11px;
	margin-top:5px;
	border-right: 1px solid #666;
}

.uc .firstSemesterDiv
{
	min-height: 68px;
	margin-left:61px;
	border-bottom: 1px solid #666;
	margin-right: 289px;
}

.uc .secondSemesterLogo
{
	float:left;
	font-family: EXO;
	text-align: center;
	color: white;
	width: 56px;
	height: 57px;
	font-size:11px;
	margin-top:5px;
	border-right: 1px solid #666;
}

.uc .secondSemesterDiv
{
	min-height: 68px;
	margin-left:61px;
	border-bottom: 1px solid #666;
	margin-right: 289px;
}

/*-----------PEDRO------------*/

/* CADEIRA ------------------------------------------------------------------------------------ */

.showcadeirasigla
{
	border-left: 1px solid #666;
	float:left;
	height: 51px;
	width: 56px;
	margin-top: 5px;
	padding-top: 25px;
	font-family: EXOB;
	text-align: center;
	color: white;
	margin-left: 10px;
}

.showcadeirasigla:hover
{
	border-bottom: 4px solid rgb(113,200,236);
	cursor: pointer;
}


/*--------------------------------------------------------------------------------------------- */

.topic
{
	height: 80px;
	background-color: white;
	border: 1px solid rgb(211,219,225);
	margin-bottom: 3px;
	overflow: hidden;
}

.topic .score
{
	float: left;
	height: 80px;
	width: 50px;
	border-right: 1px solid rgb(211,219,225);
}

.topic .score .upvote
{
	height: 30px;
	width: 50px;
	background-image: url(../images/Topic/upvote.png);
	background-position: center;
	background-repeat: no-repeat;
}

.topic .score .upvote:hover
{
	cursor:pointer;
	opacity:0.5;
}

.topic .score .number
{
	height: 18px;
	width: 50px;
	margin-top: 2px;
	font-family: EXO;
	font-size: 12px;
	text-align: center;

	
}

.topic .score .downvote
{
	height: 30px;
	width: 50px;
	background-image: url(../images/Topic/downvote.png);
	background-position: center;
	background-repeat: no-repeat;
}

.topic .score .downvote:hover
{
	cursor:pointer;
	opacity:0.5;
}

.topic .title
{
	margin-left: 10px;
	margin-top: 2px;
	margin-left: 60px;
	height:63px;
	font-size: medium;
	font-weight: normal;
	font-family: verdana;
	overflow: hidden;
	color:black;
	text-decoration: none;
}

.linkto-none{

	text-decoration: none;
 }
 
.topic .data
{
	float:left;
	margin-left: 10px;
	margin-bottom: 2px;
	margin-right: 10px;
	height:27px;
	font-family: EXO;
	font-size: 10px;
    color: black;
}

.topic .user_op
{
	float:left;
	margin-left: 10px;
	margin-bottom: 2px;
	margin-right: 10px;
	height:27px;
	font-family: EXOB;
	font-size: 10px;
    /*color: black;*/
	color: rgb(24,152,231);
}

.topic .comments
{
	float: right;
	height: 80px;
	width:50px;
	margin-left: 10px;
	background-image: url(../images/Topic/comments.png);
	background-position: center;
	background-repeat: no-repeat;
	
}

.topic .comments:hover
{
	cursor:pointer;
	opacity:0.9;
}

.delete_topic
{
	font-family: EXOB;
	font-size: 11px;
    color: #e50040;
}

.delete_topic:hover
{
	cursor: pointer;
}


/* ------------------------------------------------------------------------------------------------------ */

/* RIGHT BAR -------------------------------------------------------------------------------------------- */

.right_bar
{
  float:right;
  width: 284px;
  min-height: 160px;
  margin-left: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  background: rgba(42, 45, 51, 1);
}

.right_bar .create_topic_feedback
{
	height: 65px;
	width: 260px;
	margin-left: 12px;
	/*border-bottom:	1px solid white;*/
	margin-bottom: 20px;
}

.right_bar .create_topic_feedback .create_new_feedback
{
	float:left;
	height: 33px;
	width: 129px;
	background-color:rgb(53,56,62);
	
	font-family: EXOL;
	font-size: 13px;
	color:white;
	text-align: center;
	
	padding-top:12px;
	
	margin-left: 1px;
	transition: all 0.3s ease 0s;
}

.right_bar .create_topic_feedback .create_new_topic
{
	float:left;
	height: 33px;
	width: 130px;
	background-color:rgb(53,56,62);
	
	font-family: EXOL;
	font-size: 13px;
	color:white;
	text-align: center;
	
	padding-top:12px;
	transition: all 0.3s ease 0s;
}

.right_bar .create_topic_feedback .create_new_topic:hover, .right_bar .create_topic_feedback .create_new_feedback:hover
{
	cursor: pointer;
	background-color: #1898E7;
	
	-moz-user-select: none; 
	-khtml-user-select: none; 
	-webkit-user-select: none; 
	-o-user-select: none;
}

.right_bar .bestprof
{
	width: 260px;
	margin-left: 12px;
	/*border-bottom:	1px solid white;*/
	margin-bottom: 20px;
}

.right_bar .bestprof .bestprof_title
{
	font-family: EXOB;
	font-size: 20px;
	color:white;
	text-align: center;
	margin-bottom: 20px;
}

.right_bar .bestprof .bestprof_name
{
	font-family: EXO;
	font-size: 20px;
	color:white;
	text-align: center;
	margin-bottom: 20px;
}

.bestprof .circular_photo {
	margin-left: 79px;
	width: 100px;
	height: 100px;
	
	background: url(../images/Prof/prof.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border: 3px solid white;
}

.right_bar .gaG
{
	width: 100%;
	background-color: rgb(46,205,113);
	padding-bottom: 10px;
	padding-top: 10px;
}

.right_bar .gaR
{
	width: 100%;
	background-color: rgb(231,76,111);
	padding-bottom: 10px;
	padding-top: 10px;
}

.right_bar .gaG .gaTitle, .gaR .gaTitle
{
	font-family: EXOB;
	font-size: 20px;
	color:white;
	text-align: center;
	margin-bottom: 10px;
}

.right_bar .gaG .gaPercentage, .gaR .gaPercentage
{
	font-family: EXO;
	font-size: 20px;
	color:white;
	text-align: center;
}

.right_bar .feedback
{
	margin-top: 25px;
	font-family: EXOB;
	font-size: 20px;
	color:white;
	text-align: center;
}

.right_bar .feedback .feedback_user:nth-child(odd)
{
	padding-top:10px;
	padding-bottom:10px;
	background-color: rgb(53,56,62);
}

.right_bar .feedback .feedback_user:nth-child(even)
{
	padding-top:10px;
	padding-bottom:10px;
}

.right_bar .feedback .getmorefeedbacks
{
	margin-top: 20px;
	font-family: EXOL;
	font-size: 13px;
	color:white;
	text-align: center;
	transition: all 0.3s ease 0s;
}

.right_bar .feedback .getmorefeedbacks:hover
{
	color:#1898E7;
}

.right_bar .feedback .feed
{
	font-family: EXOL;
	font-size: 13px;
	color:white;
	margin-left: 15px;
	text-align: left;
	max-height: 150px;
	overflow: hidden;
}

.right_bar .feedback .user
{
	font-family: EXO;
	font-size: 12px;
	color: rgb(24,152,231);
	margin-right: 15px;
	text-align: right;
}

/* ------------------------------------------------------------------------------------------------------ */

/* FOOTER ----------------------------------------------------------------------------------------------- */

.footer .footer_links {	
    float: left;
    list-style: none outside none;
    text-align: left;
	font-family: EXOL;
	color: white;
	
	margin-top: 30px;
}

.footer .footer_links li{
	margin-bottom: 10px;
}

.footer .footer_links a{
	text-decoration: none;
	color: #CCC;
}

.footer .footer_links a:link, .footer .footer_linksa a:visited,  .footer .footer_links a:hover , .footer .footer_links a:visited  {
	text-decoration: none;
	color: #CCC;

}


.footer .footer_mascote {
	margin-left: -120px;
    display: inline-block;
    margin-top: 20px;
	line-height:13px;
	
	font-family: EXOL;
	font-size: 13px;
	color: #666;
}

.footer .footer_mascote .footer_logo{
	height: 58px;
	width: 194px;
	background-image : url(../images/Logo/feupzilla.png);
	display: inline-block;
	text-indent:-9999px;
}

.footer .footer_right {
    float: right;
    clear: none;
    margin: 30px;
}

.fb-share-button
{
	height:10px;
	width: 10px;
	background-color: white;
}

.footer .footer_links a:hover{opacity:0.5;}

/* FOOTER ---------------------------------------------------------------------------------- */


.question .title{
	font-family: EXOB;
	font-size: 18px;
	color: #666;
}

.question .description
{
	margin-top: 3px;
}

.question .description .top_description
{
	height: 18px;
	margin-top: 5px;
	
	background-color: #35383E;
	color:white;
	padding-left: 3px;
	
	overflow: hidden;
}

.question .description .top_description .upvote_desc
{
	float:left;
	height: 15px;
	width: 20px;
	background-image: url(../images/Topic/upvote_desc.png);
	background-position: center;
	background-repeat: no-repeat;
	margin-right: 5px;
}

.question .description .top_description .upvote_desc:hover
{
	cursor: pointer;
}

.question .description .top_description .score_desc
{
	float: left;
	height: 15px;
	margin-right: 5px;
	font-family: EXO;
	font-size: 13px;
}

.reply .description .top_description .upvote_desc:hover, .reply .description .top_description .downvote_desc:hover
{
	cursor: pointer;
}

.question .description .top_description .username_desc
{
	float: left;
	height: 15px;
	margin-right: 5px;
	font-family: EXO;
	font-size: 13px;
}

.question .description .top_description .downvote_desc
{
	float:left;
	height: 15px;
	width: 20px;
	background-image: url(../images/Topic/downvote_desc.png);
	background-position: center;
	background-repeat: no-repeat;
	margin-right: 5px;
}

.question .description .top_description .downvote_desc:hover
{
	cursor: pointer;
}

.question .description .mid_description
{
	min-height: 40px;
	background-color: white;
	/*border: 1px solid rgb(211,219,225);*/
	border: 1px solid rgb(171,173,179);
	overflow: hidden;
	
	font-family: EXO;
	font-size: 13px;
	padding:5px;

	/*color: #666;*/
}

.question .description .score
{
	float: left;
	height: 80px;
	width: 50px;
	border-right: 1px solid rgb(211,219,225);
}

.question .description .score .upvote
{
	height: 30px;
	width: 50px;
	background-image: url(../images/Topic/upvote.png);
	background-position: center;
	background-repeat: no-repeat;
}

.question .description .score .upvote:hover
{
	cursor:pointer;
	opacity:0.5;
}

.question .description .score .number
{
	height: 18px;
	width: 50px;
	margin-top: 2px;
	font-family: EXO;
	font-size: 12px;
	text-align: center;

	
}

.question .description .score .downvote
{
	height: 30px;
	width: 50px;
	background-image: url(../images/Topic/downvote.png);
	background-position: center;
	background-repeat: no-repeat;
}

.question .description .score .downvote:hover
{
	cursor:pointer;
	opacity:0.5;
}

.question .description .title
{
	margin-left: 10px;
	margin-top: 2px;
	margin-left: 60px;
	height:63px;
	font-size: medium;
	font-weight: normal;
	font-family: verdana;
	overflow: hidden;
}

.question .description .data
{
	float:left;
	margin-left: 10px;
	margin-bottom: 2px;
	margin-right: 10px;
	height:27px;
	font-family: EXO;
	font-size: 10px;
    color: black;
}

.question .description .user_op
{
	float:left;
	margin-left: 10px;
	margin-bottom: 2px;
	margin-right: 10px;
	height:27px;
	font-family: EXOB;
	font-size: 10px;
    /*color: black;*/
	color: rgb(24,152,231);
}

.reply_section{
	margin-top: 25px;
	border-top: 1px dotted rgba(180, 180, 180, 1);
	padding-top: 20px;
}

.makeReply{
	border-bottom: 1px dotted rgba(180, 180, 180, 1);
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.makeReply .makeReplyTitle{
	font-family: EXOB;
	font-size: 13px;
	
	color: #1898E7;
}

.makeReply .textarea{
	width: 490px;
	height: 100px;
	max-width: 490px;
}

.botaosubmeter{
	background: #428BCA;
    color: #fff;
	
    font-family: EXO;
    font-size: 13px;
	
    height: 30px;
    width: 150px;
	
    line-height: 30px;
	
	margin-top: 5px;
    /*margin: 25px 25px;*/
	
    text-align: center;
    border: 0;
    transition: all 0.3s ease 0s;
}

.botaosubmeter:hover {
  background: #CF4647;
}

.reply_section .ReplyDivisor{
	font-family: EXOB;
	font-size: 13px;
	margin-bottom: 10px;
	
	color: #1898E7;
}

.replys{
	margin-bottom: 15px;
	border-bottom: 1px solid rgb(220,220,220);
}


.reply {
	/*margin-bottom: 10px;*/
	min-height:100px;
	border: 1px solid rgb(220,220,220);
	border-bottom: 0px solid rgb(220,220,220);
}

.reply .description .top_description
{
	float:left;
	/*background-color: #35383E;*/
	color:black;
	/*padding-left: 3px;*/
	width: 48px;
	overflow: hidden;
}

.reply .description .top_description .upvote_desc
{
	height: 15px;
	width: 48px;
	padding-top: 5px;
	background-image: url(../images/Topic/upvote_desc.png);
	background-position: center;
	background-repeat: no-repeat;
	margin-right: 5px;
}

.reply .description .top_description .score_desc
{
	width: 48px;
	height: 15px;
	margin-right: 5px;
	font-family: EXO;
	font-size: 13px;
	text-align: center;
}

.reply .description .mid_description .username_desc
{
	float: left;
	height: 15px;
	margin-right: 5px;
	font-family: EXOB;
	font-size: 13px;
	color: #428BCA;
	padding-bottom: 5px;
}

.reply .description .mid_description .hora_desc
{
	float: left;
	height: 15px;
	margin-right: 5px;
	font-family: EXO;
	font-size: 13px;
	color: rgb(170,169,168);
	padding-bottom: 5px;
}

.reply .description .mid_description .data_desc
{
	float: left;
	height: 15px;
	margin-right: 5px;
	font-family: EXO;
	font-size: 13px;
	color: rgb(170,169,168);
	padding-bottom: 5px;
}


.reply .description .top_description .downvote_desc
{
	float:left;
	height: 15px;
	width: 48px;
	background-image: url(../images/Topic/downvote_desc.png);
	background-position: center;
	background-repeat: no-repeat;
	margin-right: 5px;
}

.reply .description .mid_description
{
	min-height:100px;
	/*background-color: white;
	border: 1px solid rgb(211,219,225);*/
	border-left: 1px solid rgb(220,220,220);
	overflow: hidden;
	
	font-family: EXO;
	font-size: 13px;
	padding:5px;
	padding-left: 10px;
}

.reply:nth-child(odd)
{
	background-color: white;
}

.reply:nth-child(even)
{
	background-color: rgb(240,240,240);
}

.reply:nth-last-child(0){
	border-bottom: 1px solid rgb(220,220,220);
}

/* LOADING LOGIN ------------------------------------------------------------------------------------ */

#spinner
{
	display: none;
    position: absolute;
	margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.8;
    filter: alpha(opacity=80);
}

#spinner > *
{
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

#spinner > p
{
	background-color: white;
	height: 35;
	width: 220;
	bottom: 50;
	text-align: -webkit-center;
	padding-top: 5px;
	font-size: smaller;
}

/* CREATE TOPIC --------------------------------------------------------------------------------------- */

.midpage_create
{
	width: 800px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-bottom:151px;
}

.midpage_create .create_title
{
	margin-top: 20px;
	width: 800px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.midpage_create .create_title .create_top_title
{
	font-family: EXOB;
	font-size:20px;
	color:rgb(24,152,231);
	text-align:center;
}

.midpage_create .create_title .create_down_title
{
	margin-top: 2px;
	font-family: EXO;
	font-size:15px;
	color:rgb(76,85,87);
	text-align:center;
}

.midpage_create .create_options
{
	margin-top: 15px;
}

.midpage_create .create_options .option
{	
	margin-top: 20px;
	min-height: 100px;
	border-bottom: 1px solid rgb(235,236,236);
}

.midpage_create .create_options .option .option_title
{	
	float: left;
	width: 170px;
	height: 20px;
	margin-top:30px;
	font-family: EXO;
	font-size:15px;
	color:rgb(76,85,87);
}
.midpage_create .create_options .option .option_more
{	
	display:inline-block;
}

.midpage_create .create_options .option .option_more .option_tipo
{
	display:inline-block;
	width: 150px;
	height: 50px;
	margin-top: 15px;
	margin-left: 20px;
}

.midpage_create .create_options .option .option_more .option_tipo .question_img
{	
	float:left;
	height: 50px;
	width: 50px;
	background: url(../images/Misc/question.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position:center center;
}

.midpage_create .create_options .option .option_more .option_tipo .news_img
{	
	float:left;
	height: 50px;
	width: 50px;
	background: url(../images/Misc/news.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position:center center;
}

.midpage_create .create_options .option .option_more .option_tipo .poll_img
{	
	float:left;
	height: 50px;
	width: 50px;
	background: url(../images/Misc/statistics.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position:center center;
}

.midpage_create .create_options .option .option_more .option_tipo .question_img_bw
{	
	float:left;
	height: 50px;
	width: 50px;
	background: url(../images/Misc/question_bw.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position:center center;
}

.midpage_create .create_options .option .option_more .option_tipo .question_img_bw:hover
{
	background: url(../images/Misc/question.png);
	cursor:pointer;
}

.midpage_create .create_options .option .option_more .option_tipo .news_img_bw
{	
	float:left;
	height: 50px;
	width: 50px;
	background: url(../images/Misc/news_bw.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position:center center;
}

.midpage_create .create_options .option .option_more .option_tipo .news_img_bw:hover
{	
	background: url(../images/Misc/news.png);
	cursor:pointer;
}

.midpage_create .create_options .option .option_more .option_tipo .poll_img_bw
{	
	float:left;
	height: 50px;
	width: 50px;
	background: url(../images/Misc/statistics_bw.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position:center center;
}

.midpage_create .create_options .option .option_more .option_tipo .poll_img_bw:hover
{	
	background: url(../images/Misc/statistics.png);
	cursor:pointer;
}

.midpage_create .create_options .option .option_more .option_tipo .option_tipo_text
{	
	float: left;
	font-family: EXO;
	font-size:15px;
	color:rgb(76,85,87);
	margin-top: 15px;
	margin-left: 10px;
}

#createtopic_title
{
	display:inline-block;
	width: 500px;
	height: 25px;
	line-height: 25px;
	margin-top: 25px;
	resize:none;
	
	font-family: EXO;
	font-size: 13px;
}

#createtopic_description
{
	display:inline-block;
	width: 500px;
	max-width: 500px;
	height: 150px;
	margin-top: 25px;
	
	font-family: EXO;
	font-size: 13px;
	
	margin-bottom: 25px;
}

.createtopic_botaosubmeter
{
	margin-top: 10px;
	width:800px;
}

.createtopic_botaosubmeter .botaosubmeter{
	background: #428BCA;
    color: #fff;
	
    font-family: EXO;
    font-size: 13px;
	
    height: 30px;
    width: 150px;
	margin-left: 325px;
	
    line-height: 30px;
	
	margin-top: 5px;
    /*margin: 25px 25px;*/
	
    text-align: center;
    border: 0;
    transition: all 0.3s ease 0s;
}

.createtopic_botaosubmeter .botaosubmeter:hover {
  background: #CF4647;
}

/* ------------------------------------------------------------------------------------------------------ */

/* FEEDBACK --------------------------------------------------------------------------------------------- */

#givefeedback_title
{
	display:inline-block;
	width: 500px;
	height: 25px;
	line-height: 25px;
	margin-top: 25px;
	resize:none;
	
	font-family: EXO;
	font-size: 13px;
}

#givefeedback_description
{
	display:inline-block;
	width: 500px;
	max-width: 500px;
	height: 150px;
	margin-top: 25px;
	
	font-family: EXO;
	font-size: 13px;
	
	margin-bottom: 25px;
}

.showprofessor_feedback
{
	display:inline-block;
	width: 100px;
	height: 200px;
	margin-right: 15px;
	margin-left: 15px;
}

.showprofessor_feedback:hover
{
	cursor: pointer;
}

.encapsular_professores
{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.showprofessor_feedback .imagemprofessor
{
	width: 100px;
	height: 100px;
	
	border-radius: 50px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
}

.showprofessor_feedback .nomeprofessor
{
	width: 100px;
	height: 56px;
	
	font-family: EXO;
	font-size:13px;
	
	overflow: hidden;
	
	text-align: center;
}

.showprofessor_feedback .preferidoprofessor
{
	width: 100px;
	height: 39px;
	padding-top: 5px;
	font-family: EXOB;
	font-size:13px;
	
	text-align: center;
	color: #2ECD71;
	overflow: hidden;
}

	
/* ------------------------------------------------------------------------------------------------------ */

/* LOGIN ------------------------------------------------------------------------------------------------ */

.loginPopUp{
	margin-left: auto;
	margin-right:auto;
	margin-top:5%;
	height:350px;
	width:550px;
	background-color:rgba(255,255,255,0.85);
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-box-shadow: 1px 1px 30px 0px rgba(46, 46, 46, 1);
	-moz-box-shadow: 1px 1px 30px 0px rgba(46, 46, 46, 1);
	box-shadow: 1px 1px 30px 0px rgba(46, 46, 46, 1);
}

.loginPopUp .loginMarginTop{
	height:20px;
	width:100%;
}

.loginPopUp .feuphub{
	margin-left: auto;
	margin-right:auto;
	height:60px;
	width:191px;
	background-image: url(../images/Logo/LoginLogo.png);
	background-size:cover;
	background-repeat:no-repeat;
}

.loginPopUp .loginForm
{
	margin-top:10px;
}

.loginPopUp .visitanteTexto
{
	font-family: EXO;
	font-size:13px;
	margin-left:120px;
	margin-top:30px;
}

.loginPopUp .visitanteTexto .visitantePergunta
{
	color:rgb(88,88,88);
	float:left;
	margin-right:5px;
}

.loginPopUp .visitanteTexto .visitanteResposta
{
	color:rgb(24,152,231);
	margin-right:130px;
	text-decoration:none;
}

.loginPopUp .visitanteTexto .visitanteResposta:hover
{
	cursor:pointer;
}

.loginPopUp .loginForm .utilizador, .loginPopUp .loginForm .senha
{
	font-size:17px;
	width:350px;
	margin-left:85px;
	font-family: EXO;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border: 1px solid rgb(168,168,168);
	padding:6px 12px;
	margin-top:25px;
}

.loginPopUp .loginForm .utilizador:focus, .loginPopUp .loginForm .senha:focus
{
	border: 1px solid rgb(24,152,231);
}

.loginPopUp .loginForm .botaoLogin
{
	font-size:17px;
	padding:6px 12px;
	font-family: EXO;
	background:rgb(24,152,231);
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	width:375px;
	color:white;
	border: 1px solid rgb(24,152,231);
}

.loginPopUp .loginForm .iniciarSessaoBotao
{
	margin-top:25px;
	margin-left:85px;
	margin-right:95px;
}

.loginPopUp .loginForm .botaoLogin:hover
{
	cursor:pointer;
	-webkit-box-shadow: inset 1px 1px 30px 0px rgba(46, 46, 46, 0.3);
	-moz-box-shadow: inset 1px 1px 30px 0px rgba(46, 46, 46, 0.3);
	box-shadow: inset 1px 1px 30px 0px rgba(46, 46, 46, 0.3);
}

/* ------------------------------------------------------------------------------------------------------ */

/* ACCOUNT --------------------------------------------------------------------------------------------- */

.right_bar .personal_account
{
	width: 260px;
	margin-left: 12px;
	margin-bottom: 20px;
}

.right_bar .personal_account .personal_account_title
{
	font-family: EXOB;
	font-size: 20px;
	color:white;
	text-align: center;
	margin-bottom: 20px;
}

.right_bar .personal_account .personal_account_usernametab, .right_bar .personal_account .personal_account_emailtab
{
	font-family: EXO;
	font-size: 11px;
	color:rgb(24,152,231);
	text-align: center;
	margin-bottom: 10px;
}

.right_bar .personal_account .personal_account_usernametab .personal_account_username, .right_bar .personal_account .personal_account_emailtab .personal_account_email
{
	font-size: 20px;
	color:white;
}

.right_bar .division
{
	width: 260px;
	height:1px;
	margin-left: 12px;
	background-color:#666;
}

.right_bar  .personal_account_edit
{
	width:12px;
	height:12px;
	background-image: url(../images/Misc/edit.png);
	background-repeat: no-repeat;
	background-size:cover;
	margin-left:auto;
	margin-right:auto;
	margin-top:5px;
}

.right_bar  .personal_account_edit:hover
{
	cursor:pointer;
	background-image: url(../images/Misc/edithover.png);
}

.right_bar .form-inline .new_user, .right_bar .form-inline .new_email
{
	margin-top:10px;
	font-size:13px;
	width:200px;
	font-family: EXO;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border: 1px solid #e9eaea;
	padding:6px 8px;
	background-color:#e9eaea;
}
.right_bar .form-inline .new_user:focus, .right_bar .form-inline .new_email:focus
 {
	background-color:white;
	border: 1px solid white;
}

.right_bar .form-inline .cancelarBotao, .right_bar .form-inline .confirmarBotao
{
	margin-top:5px;
	font-family: EXO;
	font-size: 11px;
	color:rgb(112,112,112);
	text-align: center;
	transition: all 0.3s ease 0s;
	height:20px;
	line-height: 20px;
}

.right_bar .form-inline .cancelarBotao:hover, .right_bar .form-inline .confirmarBotao:hover
{
	cursor:pointer;
	color:rgb(204,204,204);
	background-color:#35383E;
}

.right_bar .form-inline .confirmarBotao #bttn_new_user, .right_bar .form-inline .confirmarBotao #bttn_new_email
{
	border:0;
	background:none;
	color:rgb(112,112,112);
}

.right_bar .form-inline .confirmarBotao #bttn_new_user:hover, .right_bar .form-inline .confirmarBotao #bttn_new_email:hover
{
	color:rgb(204,204,204);
}

.content .personal_account_title
{
	font-family: EXOB;
	font-size: 18px;
	color: #666;
	margin-bottom:10px;
}

.content #topicos_comentados
{
	margin-top:10px;
}

.content .achievement_bar
{
	height: 80px;
	margin-bottom:10px;
	text-align:center;
	line-height:80px;
	font-family: EXO;
}

.topic #topic_created
{
	float: left;
	height: 80px;
	width: 50px;
	border-right: 1px solid rgb(211,219,225);
	background-image: url(../images/Topic/created_topic_icon.png);
	background-repeat: no-repeat;
	background-size:contain;
}

.topic #topic_commented
{
	float: left;
	height: 80px;
	width: 50px;
	border-right: 1px solid rgb(211,219,225);
	background-image: url(../images/Topic/commented_topic_icon.png);
	background-repeat: no-repeat;
	background-size:contain;
}

